@font-face {
  font-family: 'iconfont';  /* project id 951678 */
  src: url('//at.alicdn.com/t/font_951678_s9bqv70224.eot');
  src: url('//at.alicdn.com/t/font_951678_s9bqv70224.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_951678_s9bqv70224.woff') format('woff'),
  url('//at.alicdn.com/t/font_951678_s9bqv70224.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_951678_s9bqv70224.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.InfoCatcher-search:before { content: "\e60d"; }

.InfoCatcher-collect:before { content: "\e603"; }

.InfoCatcher-collected:before { content: "\e607"; }

.InfoCatcher-like:before { content: "\e704"; }

.InfoCatcher-liked:before { content: "\e600"; }

.InfoCatcher-comment:before { content: "\e602"; }

.InfoCatcher-commented:before { content: "\e6c7"; }

.InfoCatcher-weixin:before { content: "\e62f"; }

.InfoCatcher-weibo:before { content: "\e62e"; }

.InfoCatcher-github:before { content: "\e601"; }

.InfoCatcher-eye:before { content: "\e6ce"; }
