<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
    <title>{% block title %}Info Catcher{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/base.js') }}"></script>
    {% endblock head %}
</head>
<body>
    <header class="navbar">
        <div class="container">
            <ul class="nav {% if request.user %}navbar-right{% endif %}">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tag/python">Python</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
                {% if request.user %}
                <li class="dropdown profile">
                    <a href="" class="dropdown-toggle clear navbar-profile" data-toggle="dropdown" aria-expanded="true">
                        <span><img width="25" height="25" src="{{ request.user.avatar_path }}"></span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="{{ url_for('account.user_likes', identifier=request.user.id) }}">My Likes</a></li>
                        <li class="dropdown-item"><a href="{{ url_for('account.user_collects', identifier=request.user.id) }}">My Collects</a></li>
                        <li class="dropdown-item"><a href="{{ url_for('account.user_following', identifier=request.user.id) }}">My Follows</a></li>
                        <li class="dropdown-item"><a href="{{ url_for('account.settings') }}">Settings</a></li>
                        <li class="dropdown-item"><a href="/logout">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div class="main">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <footer>
        {% block footer %}
            <p class="text-center">
                <a href="/about">About</a>
                <a href="/tags">Tags</a>
            </p>
            <p class="text-center">&copy; 2018 https://github.com/Kungreye </p>
        {% endblock footer %}
    </footer>
</body>
{% block bottomscript %}
{% endblock %}
</html>
