{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block head %}
    {{ super() }}
    <meta name="url" content="{{ request.url }}">
    <meta name="title" content="{{ post.title }}">
    <meta name="description" content="{{ post.abstract_content }}">
    <script src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
{% endblock %}

{% block bottomscript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='dist/post.js') }}"></script>
{% endblock %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    {% set url = post.url() %}
    {{ macros.card(post, False) }}
    <div class="post-tags">
        {% for tag in post.tags %}
            <a class="btn btn-default btn-rounded btn-xs" href="{{ tag.url() }}">{{ tag.name }}</a>
        {% endfor %}
    </div>
    <div class="social-share-button text-center" data-title="{{ post.title }} {{ url }} Shared From @{{ post.author.name }}" data-type="text" data-url="{{ url }}">
        <h5>Share to</h5>
        <a class="btn btn-danger share-weibo" rel="external nofollow" data-site="weibo" href="javascript;"><i class="iconfont InfoCatcher-weibo"></i> Weibo</a>
        <span class="dropdown weixin-qrcode-dropdown">
            <button class="btn btn-success" type="button" data-toggle="dropdown"><i class="iconfont InfoCatcher-weixin"></i> Weixin</button>
            <span class="dropdown-menu weixin-qrcode-dropdown-menu" data-url="{{ url }}">
                <span id="weixin-qrcode" data-url="{{ url }}"></span>
            </span>
        </span>
    </div>

    <div class="post-comment-form">
        <span>Comment ({{ post.n_comments }})</span>

        {% if not request.user %}
        <div class="login-actions">
            <a class="btn btn-success" href="/signin">Login to comment</a>
        </div>
        {% else %}
        <form id="comment-form" novalidate="novalidate" class="new_comment" data-url="post/{{ post.id }}/comment" accept-charset="UTF-8" method="post">
            <div class="form-group text required comment-content">
                <textarea rows="5" class="text required comment-content form-control" id="comment-content"></textarea>
            </div>
            <div class="text-right">
                <input type="submit" id="comment-submit" name="commit" value="submit" class="btn btn-default btn-info">
            </div>
        </form>
        {% endif %}
    </div>

    <div id="comments" class="comments">
        {% for comment in post.get_comments(None) %}
        {{ macros.render_comment(comment) }}
        {% endfor %}
    </div>
{% endblock content %}
